pointnet/data/**
pointnet/checkpoints/classification/**
pointnet/checkpoints/auto_encoding/**
pointnet/checkpoints/segmentation/**
!**/.gitkeep

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints

/CS479-Assignment_1/data
/CS479-Assignment_1/checkpoints
/CS479-Assignment_2/data
/CS479-Assignment_2/outputs
/CS479-Assignment_3/image_diffusion_todo/data
/CS479-Assignment_3/image_diffusion_todo/results
/CS479-Assignment_3/image_diffusion_todo/ddpm_sampled_images

*.out
